
\.gradle/

\.idea/

build/

TiSerialService/log/

TiJavaLib\.iml

DSP/out/

TiUtils/out/

TiSerialService/out/

TiUtils/data/2018_11_23 01_16_14 testFile.bin

TiUtils/data/2019_01_06 04_04_37 testFile.bin
